<title>Node POS</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/socket.io/socket.io.js"></script> 
    <script src="/public/js/controllers/productController.js"></script>
    <script src="/public/js/controllers/userController.js"></script>
    <script src="/public/js/controllers/categoryController.js"></script>
    <script src="/public/js/controllers/homeController.js"></script>
    <script src="/public/js/angularApp.js"></script>
    <script src="/public/js/clientApp/socket_io.js"></script>
    <script src="/public/js/clientApp/controllers/clientControllers.js"></script>
    <script src="/public/js/clientApp/client.js"></script>
