<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include partials/head %>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="glyphicon glyphicon-list"></span> NodeJS POS</h1>

        <p>Get started here!</p>

        <a href="/login" class="btn btn-default"><span class="glyphicon glyphicon-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="glyphicon glyphicon-upload"></span>Signup</a>
    </div>
    <div class="row">
        <article class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, assumenda, architecto eligendi voluptatem aspernatur voluptas nesciunt vero optio modi cumque necessitatibus. Esse harum culpa tenetur ratione voluptate possimus, porro aliquid.</article>
        <article class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur molestias amet impedit omnis voluptatem nostrum quia sapiente blanditiis voluptatum quae, dolores debitis provident error iusto consequatur a facilis, dolor sed!</article>
        <article class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ducimus beatae dolores velit soluta illum quibusdam voluptas ut nulla animi laudantium atque ex, perspiciatis, totam perferendis. Quis ipsum, doloremque soluta.</article>
    </div>
</div>
    <% include partials/footer %>
</body>
</html>