<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>

    <% include partials/head %>

<script>
    var user = {
        id       : "<%= user._id  %>",
        username : "<%= user.local.username  %>"
    }
</script>

</head>
<body ng-app="clientApp" >
<div class="container-fluid" ng-controller="HomeController">
    <div class="jumbotron text-center">
        <h2>You are connected as:{{user.username}}</h2>
    </div>
    <% include partials/clientNavigation %>
    <div ng-view></div>
</div>
<% include partials/footer %>

</body>
</html>