<!-- views/tables.ejs -->
<!doctype html>
<html>
<head>
    <% include partials/head %>
</head>
<body>
<div class="container">
	<h1>tables Page</h1>
</div>
<% include partials/footer %>
</body>
</html>